---
layout: default
---






**About me**

My name is Fernanda Ramos. I live in Toulouse, France. 

I hold a PhD in Oncology and currently work for a biotech company as Science Coordinator.
I am currently pursuing a Certificate in Data Analytics since I want to transition into a more business and data-oriented role within the organisation I work for. 

My professional goals for the next 1-2 years include:
- Improving my data analytics skills
- Master tools such as Python, SQL, Tableau or Power BI, GitHub

Outside the work sphere, I am a regional-level athlete: 
- I run and train with an athletics club (SATUC) and participate in track events such as 800m,  1500m and XC.
- I'm also an aspiring cyclist and enjoy going for a ride with my husband.

I am currently developing data-driven projects such as:
- Analysing and segmenting sales by research field (Project one)
- Business intelligence on ongoing clinical trials (Project two)

Click on each project for more information.



{% include projects.html %}
